.bicicleta-lista {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}

.bicicleta-lista h2 {
  margin-bottom: 2.5rem;
}

.bicicleta-lista ul {
  display: flex;
  gap: 2.5rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  max-width: 87.5rem;
  margin: 0 auto;
  overflow-x: auto;
}

#bicicleta .bicicleta-lista ul {
  padding: 0rem 0rem 1.25rem 0rem;
}

.bicicleta-lista li {
  min-width: 17.5rem;
}

.bicicleta-lista a {
  display: block;
}

.bicicleta-lista h3 {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.bicicleta-lista h3::before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  margin-right: 0.5rem;
  height: 0.5rem;
  width: 0.75rem;
  transition: width 0.2s;
}

.bicicleta-lista a:hover h3::before {
  width: 1.5rem;
}

.bicicleta-lista li span {
  padding-left: 1.25rem;
}

.bicicleta-lista img {
  height: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .bicicleta-lista h2 {
    margin-bottom: 2rem;
  }

  .bicicleta-lista ul {
    gap: 1.5rem;
  }
}

@media (max-width: 800px) {
  .bicicleta-lista {
    padding-top: 3rem;
  }
}

@media (max-width: 600px) {
  .bicicleta-lista {
    padding-top: 2rem;
  }

  .bicicleta-lista h2 {
    margin-bottom: 1rem;
  }
}
