.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.botao {
  display: inline-block;
  color: #332200;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  font:
    600 1.125rem/1.35 "Poppins",
    sans-serif;
  max-width: max-content;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

@media (max-width: 600px) {
  .botao {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
}
