.botao {
  display: inline-block;
  justify-self: start;
  font-size: 1.125rem;
  color: #332200;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1.33;
  font-weight: bold;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  font-family: "Poppins";
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
}
