.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  color: var(--cor-0);
  padding: 1.25rem;
  align-items: center;
  box-sizing: border-box;
  max-width: 75rem;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.125rem;
  line-height: 2rem;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--cor-0);
  height: 2px;
  width: 0px;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background: var(--cor-11);
    padding: 0.75rem 1rem;
    border-radius: 4px;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 0.75rem;
  }

  .header-menu a {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }
}
