.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

#bicicleta .titulo P {
  text-transform: uppercase;
}

.bicicleta-imagem {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.bicicleta-imagem img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagem img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 2rem;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 0.5rem 0.75rem;
  margin-bottom: 2.5rem;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  background-color: var(--cor-12);
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-bottom: 0.75rem;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-12);
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2.5rem;
}

.bicicleta-informacoes img {
  width: 1.5rem;
  margin-bottom: 0.5rem;
}

.bicicleta-informacoes h3 {
  margin-bottom: 0.5rem;
}

.bicicleta-ficha {
  background-color: var(--cor-12);
  padding: 2rem;
  border-radius: 0.25rem;
}

.bicicleta-ficha li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
  padding: 0.25rem 0;
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .bicicleta-imagem {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
}
