.seguro-bg {
  background-color: var(--cor-11);
  box-shadow:
    inset 0 7.5rem var(--cor-0),
    inset 0 -7.5rem var(--cor-12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.seguro-imagem img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.seguro-conteudo {
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
}

.seguro-conteudo h2 {
  margin-bottom: 2rem;
}

.seguro-conteudo p {
  margin-bottom: 1.25rem;
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: inset 0 -3.75rem var(--cor-12);
  }
  .seguro {
    grid-template-columns: 1fr;
  }
  .seguro-conteudo {
    grid-row: 1;
    padding-top: 2.5rem;
    padding-bottom: 0;
  }
}
