.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
}

.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -7.5rem var(--cor-0);
}

.introducao {
  align-self: end;
  padding-bottom: 12.5rem;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.introducao-titulo {
  margin-bottom: 2rem;
}

.introducao-texto {
  margin-bottom: 1.25rem;
}

@media (max-width: 1200px) {
  .introducao-texto {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 2.5rem;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao-titulo {
    margin-bottom: 1rem;
  }
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao {
    padding-bottom: 0;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }

  .botao {
    margin-bottom: 1rem;
  }
}
