.parceiros {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}

.parceiros h2 {
  margin-bottom: 3.75rem;
}

.parceiros ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 1.25rem;
}

.parceiros li {
  display: flex;
  padding: 2rem;
  border-left: 2px solid var(--cor-2);
}

.parceiros img {
  margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 3.75rem;
  }
  .parceiros h2 {
    margin-bottom: 1.25rem;
  }
  .parceiros ul {
    grid-template-columns: 1fr 1fr;
    border-left: 2px solid var(--cor-2);
  }
  .parceiros li {
    padding: 1.25rem;
  }
  .parceiros li:nth-child(odd) {
    border-left: none;
  }
  .parceiros li:nth-child(n + 5) {
    border-top: none;
  }
  .parceiros li {
    border-bottom: 2px solid var(--cor-2);
  }
  .parceiros li:nth-child(n + 7) {
    border-bottom: none;
  }
}
