.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow:
    inset 0 5rem var(--cor-0),
    inset 0 -5rem var(--cor-0);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.tecnologia-conteudo {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.tecnologia-conteudo > span {
  display: block;
  margin-bottom: 1.25rem;
}

.tecnologia-conteudo h2 {
  margin-bottom: 2rem;
}

.tecnologia-conteudo > p {
  margin-bottom: 1.25rem;
}

.tecnologia-conteudo a {
  display: inline-block;
  margin-bottom: 4rem;
}

.tecnologia-vantagens {
  display: flex;
  gap: 2.5rem;
}

.tecnologia-vantagens h3 {
  margin-bottom: 0.5rem;
  width: max-content;
}

.tecnologia-vantagens img {
  width: 1.5rem;
  margin-bottom: 0.5rem;
}

.link {
  color: var(--cor-p1);
  font:
    500 1.5rem/1.5 "Poppins",
    Sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.25rem;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }

  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-conteudo {
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
  }

  .tecnologia-conteudo a {
    margin-bottom: 2rem;
  }

  .tecnologia-vantagens {
    gap: 1.5rem;
  }

  .tecnologia-imagem img {
    display: none;
  }
}

@media (max-width: 600px) {
  .tecnologia-conteudo h2 {
    margin-bottom: 1rem;
  }

  .tecnologia-vantagens {
    flex-direction: column;
  }
}
